@import 'https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&subset=vietnamese';

//Variables
$red: #ff474e;
$blue: #236ed4;
$darkblue: #003781;
$black: #333;
$white: #f7f7f7;
$lightgray: #ededed;
$darkgray: #696969;
$gray: #bdbdbd;
$navbar-color: rgba(15, 15, 15, 0.8);

$facebook: #3b5999;
$twitter: #55acee;
$google-plus: #dd4b39;
$linkedin: #0077b5;
$instagram: #e4405f;
$pinterest: #bd081c;
$deviantart: #00ce3e;
$behance: #1769ff;

//Fonts
$Oswald: 'Oswald', sans-serif;
@font-face {
  font-family: 'Deadstock';
  src: url('../fonts/Dead Stock - Demo.ttf');
}
@font-face {
  font-family: 'Streamster';
  src: url('../fonts/Streamster.ttf');
}

//Imports
@import 'reset';
@import 'typography';
@import 'loader-ellips'; //For infinite scroll

//btn modifications
.btn-info {
  background: linear-gradient($blue, $darkblue);
  color: $lightgray;
  border-radius: 100px;
  border: none;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0.65rem 2rem;

  &:hover {
    background: $darkblue !important;
    color: white;
  }
}

//Form-control
.form-control {
  font-weight: 300;
  font-size: 1rem;
  // padding: .5rem 1rem;
  // height: auto;
}

//Font-Awesome on hover
.fa {
  &-facebook:hover {
    color: $facebook;
  }
  &-twitter:hover {
    color: $twitter;
  }
  &-google-plus:hover {
    color: $google-plus;
  }
  &-instagram:hover {
    color: $instagram;
  }
  &-pinterest:hover {
    color: $pinterest;
  }
  &-deviantart:hover {
    color: $deviantart;
  }
  &-linkedin:hover {
    color: $linkedin;
  }
  &-behance:hover {
    color: $behance;
  }
}

hr {
  border-top: 1.25px solid $darkgray;
  padding: 0;
}

.price {
  color: $blue;
}

.breadcrumb {
  margin: 0;
  li {
    text-transform: uppercase;
  }
}

.art {
  font-family: 'Deadstock';
  color: $red;
}

.without-frame {
  font-family: 'Streamster';
  color: $darkgray;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.mb-3 {
  margin-bottom: 1rem;
}

////////////////////////////////////////////////////////////////
//Home page
////////////////////////////////////////////////////////////////

//Navbar
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  border-radius: 0px;
  z-index: 1000;

  .dropdown-menu {
    right: -1px !important;
    padding: 0;
    color: $black;
    background-color: rgba(237, 237, 237, 0.8) !important;

    > li > a {
      color: $black;
      text-transform: uppercase;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  color: $gray;
  text-transform: uppercase;
}

.navbar-nav > li > a {
  padding: 1rem 0.75rem 1.25rem;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: white !important;
  background-color: transparent;
}

.dropdown-toggle__icon,
.nav-link__icon {
  color: $gray !important;
}

.caret.top {
  color: $gray !important;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white !important;
  background-color: rgba(237, 237, 237, 0.6) !important;

  .dropdown-toggle__icon,
  .nav-link__icon {
    color: white !important;
  }

  .caret.top {
    color: white !important;
  }
}
/* stroke */
nav.stroke ul li a {
  position: relative;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: $white;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.logo-brand {
  width: 180px;
  height: auto;
  margin-top: -0.5rem;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.35));
  transition: all 0.5s ease-in-out;
}

.nav-item {
  .badge {
    font-weight: 300;
  }
}

//Navbar Header (Max-width: 768px Navbar)

@media screen and (max-width: 768px) {
  .navbar-header {
    background-color: $navbar-color;

    .logo-brand {
      width: 150px;
      margin-top: -0.5rem;
    }

    button {
      .icon-bar {
        background-color: white !important;
      }
    }
  }

  .navbar-collapse {
    background-color: $navbar-color !important;
    .stroke {
      ul {
        li {
          text-align: center;
        }
      }
    }
  }
}

//Navbar-fixed

.navbar-fixed {
  position: fixed;
  background-color: rgba(15, 15, 15, 0.8) !important;
}

//Dropdown overall

.dropdown-toggle__icon,
.nav-link__icon {
  font-size: 1.25rem;
  color: white;
}

.dropdown-menu > li > a {
  line-height: 2;
  color: $darkgray;
  font-weight: 300;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  font-size: 1rem;
  font-weight: 200;
  color: $darkgray;
}

//Content Parallax

.content-block-one {
  position: relative;
  top: 3.2rem;
  padding: 0.5rem;
  margin-bottom: 0px;
  color: inherit;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.content-block-one h1,
.content-block-one .h1 {
  color: inherit;
}
.content-block-one p {
  font-size: 1.25rem;
  font-weight: 200;
}
.content-block-one > hr {
  border-top-color: #d5d5d5;
}
.container .content-block-one {
  border-radius: 6px;
}
.content-block-one .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .content-block-one {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .container .content-block-one {
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }
  .content-block-one h1,
  .content-block-one .h1 {
    font-size: 3.94rem;
  }
}

.content-space-one {
  padding: 0px;
  margin-bottom: 0px;
  background: url('../images/covers/cover-home-paralax.jpg') no-repeat center
    center fixed;
  background-size: cover;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-wrap {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

    h3 {
      margin-top: 1rem;
      align-self: flex-start;
      font-size: 300;
      color: $white;
    }

    .page-break {
      width: 60vw;
      height: 0.15rem;
      background-color: #fff;
      align-self: flex-start;
    }

    a {
      align-self: flex-end;
      transform: translateY(4.2rem);

      i {
        font-size: 1.45rem;
        color: white;
      }
    }
  }
}

.content-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url('../images/covers/Dancing-fire-Sztukowski.jpg') no-repeat
    center center fixed;
  background-size: cover;
  padding: 8rem 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

    blockquote {
      border-left: none;
      margin: 0;
      color: $white;
    }
    blockquote h2:before {
      content: '\f10d';
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
    }

    .page-break {
      width: 20vw;
      height: 0.15rem;
      margin: 0.5rem 0;
      background-color: #fff;
      align-self: flex-end;
    }

    p {
      text-transform: uppercase;
      color: $white;
      align-self: flex-end;
    }
  }
}

.content-space-three {
  padding: 0px;
  margin-bottom: 1rem;
  color: inherit;
  background: url('../images/covers/Simple color digital.jpg') no-repeat center
    center fixed;
  background-size: cover;
  padding: 8rem 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

    blockquote {
      border-left: none;
      margin: 0;
      color: $white;
    }
    blockquote h2:before {
      content: '\f10d';
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
    }

    .page-break {
      width: 20vw;
      height: 0.15rem;
      margin: 0.5rem 0;
      background-color: #fff;
      align-self: flex-end;
    }

    p {
      text-transform: uppercase;
      color: $white;
      align-self: flex-end;
    }
  }
}

//For full-responsive full height Home Carousel

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gradient {
  background-image: linear-gradient(
    180deg,
    rgba(28, 28, 28, 0.71),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.39)
  );
  width: 100%;
  height: 100%;
  position: fixed;
}

.full-screen > img {
  height: 100vh !important;
  max-width: none !important;
}

.carousel-caption {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);

  h5 {
    color: white;

    span {
      font-family: 'Streamster';
      font-size: 3.6rem;
      color: white;
      text-transform: none;
    }
  }

  p {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }

  a {
    padding: 0.5rem 1.65rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
}

//Home content

.home-intro {
  margin: 3rem 0;

  &__brands {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding: 3.5rem 0;
    background-color: $lightgray;

    &__holder {
      max-width: 1170px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem 3.5rem;

      &__brand {
        justify-self: center;
        align-self: center;
        filter: grayscale(100%);
        cursor: pointer;

        &:hover {
          filter: none;
        }
      }
    }
  }

  &__infographics {
    margin: 0 2rem 0 2rem;
    padding: 3rem 0 3rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;

    &__text {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }

    &__holders {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      &__holder {
        justify-self: center;
        align-self: center;

        > * {
          text-align: center;
          line-height: 1.2;
        }

        .span {
          font-size: 1.2rem;
          line-height: 0.8;
        }

        h1 {
          font-size: 2.75rem;
        }
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.5rem 0;

  &__cover {
    max-width: 1170px;
    width: 100%;
    padding: 0 0.15rem;

    h3 {
      position: relative;
      padding: 0 2rem;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: $red;
        height: 100%;
        width: 1rem;
        left: 0;
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: $red;
        height: 100%;
        width: 1rem;
        right: 0;
      }
    }

    &--1 {
      h3:before {
        display: none;
      }
    }

    &--2 {
      h3:after {
        display: none;
      }
    }
  }
}

#home-art-panels {
  padding: 3.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../images/covers/cover-art-panels.jpg') no-repeat center
    center fixed;
  background-size: cover;
  position: relative;

  .color-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
    top: 0;
    bottom: 0;
  }

  .home-art-panels {
    max-width: 1170px;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    display: flex;

    &__panel {
      min-height: 90vh;
      width: 100%;
      box-shadow: inset 0 0 0 0.25rem rgba(255, 255, 255, 0.05);
      text-align: center;
      align-items: center;
      transition: font-size 0.6s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.6s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.3s;
      font-size: 1.2rem;
      background-size: cover;
      background-position: center;
      flex: 1;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      p {
        font-family: 'Streamster';
        font-size: 3rem;
        padding: 0.5rem;
        color: white;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.75), 0 0 10px rgba(0, 0, 0, 0.25);
        transition: linear 0.5s;
      }

      p:nth-child(2) {
        font-family: $Oswald;
        font-weight: 500;
        font-size: 3.2rem;
        flex: 2;
        white-space: pre-wrap;
        text-align: center;
      }

      > * {
        margin: 0;
        width: 100%;
        transition: transform 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      > *:first-child {
        transform: translateY(-100%);
      }

      > *:last-child {
        transform: translateY(100%);
      }
    }
  }

  .panel1 {
    background-image: url('../images/panels/panel1.jpg');
  }
  .panel2 {
    background-image: url('../images/panels/panel2.jpg');
  }
  .panel3 {
    background-image: url('../images/panels/panel3.jpg');
  }

  .home-art-panels__panel.open-active > *:first-child {
    transform: translateY(0);
  }

  .home-art-panels__panel.open-active > *:last-child {
    transform: translateY(0);
  }

  .home-art-panels__panel.open {
    font-size: 3rem;
    flex: 3;

    p:nth-child(2) {
      font-size: 4rem;
      color: $blue;
    }
  }
}

//Air-bnb feature

#home-airbnb-feature {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .input-group {
    max-width: 1170px !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    input {
      height: 2.38rem;
      width: 100%;
      font-size: 1.25rem;
    }

    .input-group-btn {
      width: auto;

      button {
        width: 100%;
        background-color: $blue;
        border: 1px solid $blue;
        padding: 0.35rem 1.5rem;

        i {
          color: white;
          font-size: 1.5rem;
        }
      }
    }
  }

  .home-airbnb-holder {
    margin-top: 3.5rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &--h3 {
      font-family: 'Deadstock';
      font-size: 4.5rem;
      padding: 3rem 0;
      text-transform: none;
      color: white;
      text-align: center;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.45), 0 1px 10px rgba(0, 0, 0, 0.2);
      z-index: 10;

      @media (max-width: 1024px) {
        font-size: 3.5rem;
        padding-bottom: 1.5rem;
      }

      @media (max-width: 425px) {
        font-size: 2.5rem;
        padding-bottom: 1rem;
      }
    }

    a {
      z-index: 10;

      @media (max-width: 425px) {
        font-size: 1.1rem;
        padding: 0.5rem 1.25rem;
      }
    }

    &--space {
      flex: 1;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      &__logo1 {
        max-width: 23vw;
        z-index: 10;
        padding: 2%;
        filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.35));

        @media (max-width: 425px) {
          max-width: 26vw;
        }
      }

      &__logo2 {
        max-width: 23vw;
        z-index: 10;
        padding: 2%;
        filter: drop-shadow(0.1rem 0.15rem 0.15rem rgba(0, 0, 0, 0.5));

        @media (max-width: 425px) {
          max-width: 28vw;
        }
      }
    }
  }

  .home-airbnb-cover {
    background: url('../images/airbnb-cover/airbnb-cover.jpg') no-repeat center
      center fixed;
    background-size: cover;
    width: 100%;
    height: 90vh;
  }
}

//Testimonial

#home-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;

  #quote-carousel {
    // padding: 0 10px 30px 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 1440px;
    min-height: 300px;

    .carousel-control {
      background: none;
      color: $gray !important;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 3rem;
    }

    .carousel-indicators {
      position: relative;
      right: 50%;
      top: auto;
      bottom: 0px;
      margin-top: 20px;
      margin-right: -19px;
    }

    .carousel-indicators li {
      width: 50px;
      height: 50px;
      cursor: pointer;
      border: 1px solid #ccc;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      opacity: 0.4;
      overflow: hidden;
      transition: all 0.4s ease-in;
      vertical-align: middle;
    }

    .carousel-indicators .active {
      width: 128px;
      height: 128px;
      opacity: 1;
      transition: all 0.2s;
    }

    a {
      text-align: center;
    }

    p {
      font-size: 1.5rem;
    }

    small {
      padding: 0.75rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: $red;

      &:before {
        color: $black;
      }
      span {
        font-size: 1.25rem;
      }
    }
  }

  .item blockquote {
    border-left: none;
    margin: 0;
  }
  .item blockquote p:before {
    content: '\f10d';
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
  }
}

//Footer
.footer {
  background-color: $lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__subscription {
    width: 100%;
    background-color: $red;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      max-width: 1170px;
      width: 100%;
      padding: 0.55rem 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 425px) {
        flex-direction: column;
      }

      &__customer-support {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        i {
          flex: 1;
          font-size: 2.5rem;
          color: white;
          padding-left: 2rem;
          padding-right: 0.5rem;
        }

        div {
          flex: 10;
          > * {
            color: white;
          }
        }
      }

      &__input-group {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        input {
          flex: 9;
          height: 2.2rem;
          margin: 0.5rem;
        }

        button {
          flex: 2;
          height: 2.2rem;
          margin: 0.5rem 2rem 0.5rem 0.25rem;
          padding: 0 0.5rem;
          border-radius: 5px;
          font-size: 1.2rem;

          @media (max-width: 425px) {
            font-size: 1rem;
          }
        }

        @media (max-width: 425px) {
          padding: 0.5rem 2rem;
        }
      }
    }
  }

  &__info {
    max-width: 1170px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);

    @media (max-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 670px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &__element {
      padding: 3rem 2rem 1rem;

      @media (max-width: 768px) {
        padding: 2rem 2rem 0.5rem;
      }

      @media (max-width: 425px) {
        padding: 1rem 2rem 0.5rem;
      }

      h6 {
        text-transform: none;
        text-decoration: underline;
        color: $red;
        letter-spacing: -0.06rem;
        font-size: 1.2rem;
      }
      li {
        padding: 0 0.5rem 0;
        color: $black;
        line-height: 2rem;
        cursor: pointer;
        transition: all 0.4s ease;
        overflow: hidden;

        &::before {
          content: '\f105';
          font-family: 'FontAwesome';
          position: relative;
          left: -0.25rem;
          transition: all 0.4s ease;
          color: $blue;
          display: none;
        }

        &:hover,
        &:focus {
          color: $blue;
          padding-left: 0.75rem;
          font-weight: 400;

          &:before {
            display: inline;
          }
        }
      }
    }

    &__payments {
      padding: 3rem 2rem 1rem;
      display: flex;
      flex-direction: column;

      select.selectpicker {
        width: 100%;
        color: $darkgray;
        border: 1.3px solid $darkgray;
      }

      > * {
        margin: 0.2rem 0;
      }

      > *:last-child {
        margin: auto 0 0.5rem;
      }

      &__icons {
        i {
          font-size: 1.5rem;
          color: $darkgray;
        }
        i:hover {
          color: black;
        }
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        > * {
          justify-self: center;
          align-self: center;
        }
      }

      @media (max-width: 768px) {
        grid-area: 2/2/3/4;
        padding: 2rem 2rem 1rem;
      }

      @media (max-width: 425px) {
        grid-area: 3/1/4/3;
        padding: 1rem 2rem 0.5rem;
      }
    }
  }

  &__socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.2rem;
    border-top: 1.25px solid $darkgray;
    border-bottom: 1.25px solid $darkgray;

    i {
      font-size: 1.55rem;
      color: $darkgray;
      padding: 0 1rem;
      cursor: pointer;
    }
  }

  &__copyright {
    background-color: $darkgray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      justify-content: space-between;

      span {
        color: $lightgray;
        margin: 1.25rem 0 1.25rem 0.5rem;

        a {
          color: $gray;

          &:hover {
            color: $darkblue;
          }
        }
      }

      img {
        width: 5rem;
        height: auto;
        margin-left: 1rem;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        padding: 0.5rem 0;
        justify-content: center !important;

        span {
          padding: 0 !important;
          margin: 0.5rem 0 0.5rem 0.5rem;
        }
      }

      @media (max-width: 340px) {
        span {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

////////////////////////////////////////////////////////////////
//About us
////////////////////////////////////////////////////////////////

.parallax {
  /* The image used */
  background-image: url('../images/covers/cover-art-panels.jpg');

  /* Full height */
  height: 60vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .gradient {
    position: absolute;
  }
}

.about-intro {
  display: flex;
  align-items: center;
  justify-content: center;

  &__article {
    max-width: 1170px;
    width: 100%;
    padding: 0 2rem;

    p {
      font-size: 1.2rem;
    }
  }

  &__feature {
    background-color: $lightgray;
    display: flex;
    align-items: center;
    justify-content: center;

    &__brands {
      max-width: 1170px;
      width: 100%;
      padding: 1.5rem 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      img {
        filter: grayscale(100%);

        &:hover,
        &:focus {
          filter: none;
        }
      }
    }
  }
}

.about-core {
  display: flex;
  flex-direction: column;

  h3 {
    padding: 3rem 0;
  }

  &__agencies {
    display: flex;
    min-height: 75vh;

    &__agency {
      flex: 1 0 auto;
      width: 25%;
      background-size: cover;
      background-position: center;
      position: relative;

      &:hover > &__overlay,
      &:focus > &__overlay {
        bottom: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
        bottom: -5rem;
        transition: all 3s linear;

        &__overlay1 {
          background-color: rgba(15, 15, 15, 0.75);
          flex: 4;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          padding: 1rem;
          width: 100%;

          h6 {
            margin: 1rem;
            color: $white;
            text-align: center;
          }

          p {
            color: $gray;
            flex: 1;
            margin: 60% 0 0;
            overflow: hidden;
          }

          &__links {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            i {
              padding: 1rem;
              font-size: 1.3rem;
              color: white;
            }
          }
        }

        &__overlay2 {
          flex: 1;
          width: 100%;
          background-color: $red;
          align-self: flex-end;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h5 {
            text-align: center;
          }

          p {
            text-transform: uppercase;
            text-align: center;
            color: white;
            padding: 0 0.5rem;

            @media (max-width: 768px) {
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }

  &__footer {
    height: 11.6rem;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      color: white;
      text-align: center;
      padding: 0 1rem;
    }
  }
  button {
    align-self: center;
    margin-top: -1.6rem;
  }
}

.agency1 {
  background-image: url('../images/agencies/agency1.jpg');
}
.agency2 {
  background-image: url('../images/agencies/agency2.jpg');
}
.agency3 {
  background-image: url('../images/agencies/agency3.jpg');
}
.agency4 {
  background-image: url('../images/agencies/agency4.jpg');
}

#about-value {
  display: flex;
  align-items: center;
  justify-content: center;

  .about-value {
    max-width: 1170px;
    width: 100%;
    padding: 0 2rem;
  }
}

.about-videos {
  margin: 6rem 0 8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;

  &__bg-art {
    font-family: 'DeadStock';
    font-size: 18rem;
    color: $gray;
    opacity: 0.2;
    z-index: -99;
    position: absolute;
    top: -3rem;
    left: 0;
  }

  &__video1 {
    max-width: 1170px;
    width: 100% !important;
    margin-bottom: 3.5rem;

    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 0.5rem;

    @media (max-width: 690px) {
      grid-template-columns: 1fr;
    }

    &__title {
      display: flex;
      flex-direction: column;
    }

    iframe {
      max-width: 100%;
      border-radius: 0.8rem;
      background-color: $red;
      margin: 0 0 0 auto;
    }
  }

  &__video2 {
    max-width: 1170px;
    width: 100% !important;

    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-gap: 0.5rem;

    @media (max-width: 690px) {
      grid-template-columns: 1fr;
    }

    &__title {
      display: flex;
      flex-direction: column;
    }

    iframe {
      max-width: 100%;
      border-radius: 0.8rem;
      background-color: $red;
    }
  }

  &__bg-without-frame {
    font-family: 'Streamster';
    font-size: 12.6rem;
    color: $gray;
    opacity: 0.2;
    z-index: -99;
    position: absolute;
    bottom: -8rem;
    right: 3rem;
  }
}

.contact-us {
  margin: 3rem 2rem 5rem;
  padding: 3rem 0 0;
  background-color: $lightgray;
  box-shadow: 1px 2px 4px 0 rgba(170, 170, 170, 0.34);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 560px) {
    margin: 2rem 0rem 3rem;
  }

  .title {
    margin: 0 0 1rem;
    width: 100%;
    padding: 0 2rem;
  }

  hr {
    max-width: 1170px;
  }

  &__info {
    max-width: 1170px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    padding: 0 2rem;

    @media (max-width: 560px) {
      grid-template-columns: 1fr;
      justify-self: center;
      align-self: center;
    }

    &__ele {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 0.5rem;
      justify-self: center;
      align-self: center;
      margin: 0.5rem 0;

      div {
        p {
          font-weight: 300;
          font-size: 1.25rem;

          @media (max-width: 768px) {
            font-size: 1.15rem;
          }
        }
      }

      &__symbol {
        border: 1px solid $black;
        border-radius: 50%;
        padding: 0.6rem 0;
        width: 3.6rem;
        height: 3.6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          border: 1px solid $gray;

          > i {
            color: $gray;
          }
        }

        i {
          font-size: 1.65rem;
        }
      }
    }
  }

  &__forms {
    max-width: 1170px;
    width: 100% !important;
    margin: 2rem 0 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;

    input {
      font-size: 1.25rem;
      margin: 1rem 0;
      height: auto;
    }

    textarea {
      margin: 1rem 0;
      resize: vertical;
      font-size: 1.25rem;
      margin-bottom: 3rem;
    }

    button {
      align-self: center;
      transform: translateY(-4.5rem);
      z-index: 5;
    }
  }

  &__map {
    width: 100%;
    height: auto;

    iframe {
      margin: -9rem 0 0;
      z-index: 3;
    }
  }
}

////////////////////////////////////////////////////////////////
//Product-detail
////////////////////////////////////////////////////////////////
.product-detail {
  min-height: 60vh;
}

.product-detail__products {
  display: flex;
  max-width: 1600px;
}

.product-detail__product {
  flex: 0 0 25%;
  position: relative;
  height: 200px;
}

.product-detail__modal-dialog {
  top: 5rem;
  min-width: 800px;
}

.product-detail_image {
  img {
    border-radius: 0.5rem;
  }
}

.product-detail_image--with-modal {
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &:first-child {
      z-index: 1;
    }
  }
  &:hover {
    img:first-child {
      display: none;
    }
  }
}

.product-detail__title {
  position: absolute;
  bottom: -2rem;
}

//////////////////////////////////////////////////////
//RESPONSIVE
/////////////////////////////////////////////////////

//For Desktops less than 1024px
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .home-intro {
    &__infographics {
      &__text {
        align-self: center;
      }

      &__holders {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.75rem;
      }
    }
  }
}

//For Tablets less than 768px
@media (max-width: 768px) {
}

//For Phones less than 425px
@media (max-width: 425px) {
  h1.red {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.65rem;
  }

  h5 {
    font-size: 1.15rem;
  }
  #home-testimonials {
    p {
      font-size: 1.15rem !important;
      padding: 0 0.5rem;
    }
  }

  .home-intro {
    &__infographics {
      grid-template-columns: 1fr;

      &__text {
        display: none !important;
      }

      &__holders {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
      }
    }
  }
}
